* {
  box-sizing: border-box;
}

body {
  text-align: center
}

.color-windows {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}

.color-window {
  width: 15vw;
  height: 300px;
  border: 2px solid black;
}

.project-wrapper {
  border: 2px solid black;
  width: fit-content;
  margin: auto auto;
  padding: 0 5% 5% 5%;
}

.pallet-color {
  display: inline-block;
  height: 50px;
  width: 50px;
}

.delete-pallet-icon {
  display: inline-block;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

#generate-pallet {
  margin: 2%;
}